<div class="card">
  <%= link_to image_tag(prototype.image, class: :card_img ), prototype_path(prototype.id)%>
  <div class="card_body">
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card_title%>
    <p class="card_summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by#{prototype.user.name}", "/users/#{prototype.user_id}", class: :card_user %>
  </div>
</div>